*.gem
*.rbc

.bundle
.config
.yardoc

.rvmrc
.ruby-gemset
.ruby-version

_yardoc
coverage
Gemfile.lock
InstalledFiles
lib/bundler/man
spec/dummy_app/public/assets

tmp
doc
pkg
rdoc

test/tmp
spec/reports
test/version_tmp

.DS_Store
.LSOverride
.AppleDouble