windows:
  - name: "TheRole"
    root: "~/rails/opensource/the_role"
    filters:
      before: "rvm use ruby-2.0.0-p353; rvm gemset use the_role"
    layout: tiled
    panes:
      - cmd: "clear;"
      - cmd: "clear;"
      - cmd: "cd spec/dummy_app; clear"
      - cmd: "cd spec/dummy_app; clear; rake db:bootstrap RAILS_ENV=test; rspec"