.form{
  background:#EEE;
  padding:5px;
  margin:0 0 15px 0;
  border:2px solid gray;
  -moz-border-radius:5px;
}
.form label{
  display:block;
}
.form .input{
  border:1px solid #000;
  padding:2px 0 2px 5px;
  font-size:13pt;
  color:DarkBlue;
}
.form .textarea{
  font-size:13pt;
  padding:2px;
}
.form .message_textarea{
  font-size:13pt;
  padding:2px;
  border:1px solid black;
  height: 200px;
}
.form .submit{
  font-size:16pt;
}
.article_buttons{
  margin:0 0 10px 0;
  padding:0 0 5px 0;
  border-bottom:1px dashed gray;
}
.article_buttons input{
  margin-right:10px;
}
.submit_button{
  margin-bottom:10px;
}
.moderation_buttons{
  background:silver;
  margin:3px 3px 10px 3px;
  padding:5px;
  border:2px solid blue;
}
.delete_button{
  background: none repeat scroll 0 0 lightGrey;
  border: 1px dashed gray;
  padding: 5px 0;
  text-align: right;
}
.delete_button input{
  color:Crimson;
}
