.body{
  width: 900px;
  margin:auto;
  font:Tahoma;
  font-family:Tahoma,Trebuchet MS,Times New Roman;
}
img, p, pre, blockquote, dd, dt, caption, legend, label{
  font-size: 2em;
}
ul.index{
  p{
    padding: 5px;
    &:hover{
      background: #DDD;

    }
    a.delete{
      float: right;
    }
  }
}//ul.index

h4{
  position: relative;
  padding: 5px;
  background: LightBlue;
  .controls{
    a{
      color: blue;
    }
  }
}

.controls{
  position:absolute;
  right:10px;
  top:10%;
  zoom:1;
  padding-bottom:6px;
}
.controls a{
  margin:0 10px;
  font-size:10pt;
  color:#CCC;
  border:1px solid transparent;
  padding:3px;
  text-decoration:none;
}
.controls a:hover{
  color:#999;
  border:1px solid #999;
}
ul.rights{
  margin:0 0 20px;
}
ul.rights li{
  margin:0 0 5px 20px;
  position:relative;
  zoom:1;
  border-bottom:1px solid #EEE;
  padding: 5px 0;
  font-size:9pt;
}
ul.rights li .controls{
  top:10%;
  right:5px;
  padding:5px;
}
form.new_action{
  padding:15px;
  background:#EEE;
  margin:0 0 50px 0;
}
form{
  margin:0 0 50px 0;
}