.header{
  margin: 10px 0;
  background-color: #DCEAF4;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
}

.manage_panel, .main_content{
  background-color: #DCEAF4;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
}

.main_content{
  h1{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }
}

.edit_role{
  input{ margin: 0; }
}