@import 'mixins';
@import 'variables';

@import 'buttons';
@import 'button-groups';
@import 'dropdowns';

@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";

@import "forms.less";
@import "wells.less";

.well{
  input{
    margin-top: -4px;  
  }
}

.the_role{
  width: 910px;
  margin: auto;
  margin-top: 10px;
  h3{
    margin-botoom: 0;
  }
}
.sidebar, .content{
  padding: 15px;
}

.sidebar{
  p{
    font-size: 1.5em;
    margin-bottom: 10px;
    .delete{
      color: red;
      margin-left: 10px;
    }
  }
  p.new{
    padding-top: 10px;
  }
  p.new a{
    border-radius: 3px;
    color: black;
    padding: 3px 10px;
    background: LightGreen;
  }
  p.new a:hover{
    color: white;
    padding: 3px 10px;
    background: Green;
  }
}

.content{
  .well{
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .description{
    font-size: 1.5em;
  }
}

.btn-group{
  ul.dropdown-menu{
    li.alert-success{
      margin-bottom: 3px;
    }
    li.error a{
      color: @errorText;
    }
    li.error a:hover{
      color: @white;
      background: @btnDangerBackgroundHighlight;
    }
  }
}

.crusty{
  border: 1px solid LightBlue;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px;

  .row [class*="span"]{
    background: @white;
  }
}

.dropdown-menu a{
  font-size: 1.3em;
}

.section{
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid Gray;

  h3{
    color: @grayDarker;
    padding: 10px;
    border-radius: 3px;
    background: lighten(@btnInfoBackground, 18%);
  }
  .delete{
    position: absolute;
    top: 8px; right: 5px;
  }
  .rule{
    background: red;
    position: relative;
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: @tableBackgroundAccent;

    h4{
      margin-bottom: 0;
      padding-left: 20px;
    }
    .controls{ 
      position: absolute;
      top: 2px; right: 0;
    }
  }
  .rule:hover{
    cursor: pointer;
    background: darken(@tableBackgroundAccent, 15%);
  }
}